[submodule "libs/utfcpp"]
	path = libs/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "libs/opengl"]
	path = libs/opengl
	url = https://github.com/cpp-wrappers/opengl.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = https://github.com/lieff/minimp3
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/lodepng"]
	path = libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
