[submodule "libs/utfcpp"]
	path = libs/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = https://github.com/lieff/minimp3
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/lodepng"]
	path = libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libs/opengl-wrapper"]
	path = libs/opengl-wrapper
	url = https://github.com/cpp-wrappers/opengl.git
[submodule "libs/openal-wrapper"]
	path = libs/openal-wrapper
	url = https://github.com/cpp-wrappers/openal-wrapper.git
[submodule "libs/glfw-wrapper"]
	path = libs/glfw-wrapper
	url = https://github.com/cpp-wrappers/glfw-wrapper.git
[submodule "libs/freetype-wrapper"]
	path = libs/freetype-wrapper
	url = https://github.com/cpp-wrappers/freetype-wrapper.git
